<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Infinite Blackjack</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/icon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:900" rel="stylesheet"> 
</head>
    
<body>
    
  <nav><a href="/login"><img id="logo" src="/assets/img/bjIcon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/blackJack">BLACKJACK</a></div>
    <div class="navlink"><a href="/rules">RULES</a></div>
    <div class="navlink"><a href="/addFunds">ADD FUNDS</a></div>
    <div class="navlink"><a href="/logout">LOG OUT</a></div>    
  </nav>
    
    <!-- borrow the template from https://tutorialzine.com/2016/11/simple-credit-card-validation-form -->
    <div class="creditCardForm">

        <div class="heading">
            <h1>Add Credits</h1>
        </div>
        
        <div class="form-group" id="card-number-field">
            <label for="credit">Credits</label>
            <input type="number" class="form-control" id="credit" min='1' oninput="validity.valid||(value='');">
        </div>
        
        <div class="heading">
            <h1>Confirm Purchase</h1>
        </div>
        
        <div id="reactCredit">
        
        </div>

        
    </div>
    
    <div id="addedFund" style="color: white; text-align: center; font-size: 2.0em;"></div>
    
    

  <script src="/assets/addFundsBundle.js"></script>
</body>
</html>