<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Infinite Blackjack</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/icon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:900" rel="stylesheet"> 
</head>
    
<body>
    
  <nav><a href="/login"><img id="logo" src="/assets/img/bjIcon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/blackJack">BLACKJACK</a></div>
    <div class="navlink"><a href="/rules">RULES</a></div>
    <div class="navlink"><a href="/addFunds">ADD FUNDS</a></div>
    <div class="navlink"><a href="/logout">LOG OUT</a></div>    
  </nav>
    
    <!-- borrow the template from https://tutorialzine.com/2016/11/simple-credit-card-validation-form -->
    <div class="creditCardForm">

        <div class="heading">
            <h1>Add Credits</h1>
        </div>
        
        <div class="form-group" id="card-number-field">
            <label for="credit">Credits</label>
            <input type="number" class="form-control" id="credit" min='1' oninput="validity.valid||(value='');">
        </div>
        
        <div class="heading">
            <h1>Confirm Purchase</h1>
        </div>


        <div class="payment">
            <form>
                <div class="form-group owner">
                    <label for="owner">Owner</label>
                    <input type="text" class="form-control" id="owner">
                </div>
                <div class="form-group CVV">
                    <label for="cvv">CVV</label>
                    <input type="text" class="form-control" id="cvv">
                </div>
                <div class="form-group" id="card-number-field">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" class="form-control" id="cardNumber">
                </div>
                <div class="form-group" id="expiration-date">
                    <label>Expiration Date</label>
                    <select>
                        <option value="01">January</option>
                        <option value="02">February </option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select>
                        <option value="16"> 2019</option>
                        <option value="17"> 2020</option>
                        <option value="18"> 2021</option>
                        <option value="19"> 2022</option>
                        <option value="20"> 2023</option>
                        <option value="21"> 2024</option>
                    </select>
                </div>
                <div class="form-group" id="credit_cards">
                    <img src="assets/img/visa.jpg" id="visa">
                    <img src="assets/img/mastercard.jpg" id="mastercard">
                    <img src="assets/img/amex.jpg" id="amex">
                </div>
                <div class="form-group" id="pay-now">
                    <button type="submit" class="btn btn-default" id="confirm-purchase" style="width: 100%;">Confirm</button>
                </div>
            </form>
        </div>
        
    </div>
    
    <div id="addedFund" style="color: white; text-align: center; font-size: 2.0em;"></div>
    
    

  <script src="/assets/addFundsBundle.js"></script>
</body>
</html>