<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Infinite Blackjack</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:900" rel="stylesheet"> 
  <link rel="shortcut icon" href="/assets/img/icon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
    
    <style>
        #rulesWrapper {
            max-width: 700px;
            margin: 100px auto;
            overflow: hidden;
            padding: 25px;
            color: #fff;
            background: linear-gradient(212deg, rgba(67,206,162,1) 0%, rgba(10,185,92,1) 100%);
            height: auto;
            border-radius: 14px;
        }
        #rulesWrapper h1 {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
        #rulesWrapper ul {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
        }
        
    </style>
    
<body>
    
  <nav><a href="/login"><img id="logo" src="/assets/img/bjIcon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/blackJack">BLACKJACK</a></div>
    <div class="navlink"><a href="/rules">RULES</a></div>
    <div class="navlink"><a href="/addFunds">ADD FUNDS</a></div>
    <div class="navlink"><a href="/logout">LOG OUT</a></div>    
  </nav>
    
    <div id="rulesWrapper">

        <h1>Basic Blackjack Rules</h1>
        
        <ul style="list-style-type:disc;">
              <li>The main goal of blackjack is to beat the dealer's hand without going over 21.</li>
              <li>Face cards are worth 10. Aces are worth 1 or 11, whichever makes a better hand.</li>
              <li>Each player starts with two cards, one of the dealer's cards is hidden until the end.</li>
              <li>To 'Hit' is to ask for another card. To 'Stand' is to hold your total and end your turn.</li>
              <li>If you go over 21 you bust, and the dealer wins regardless of the dealer's hand.</li>
              <li>Each player starts with two cards, one of the dealer's cards is hidden until the end.</li>
              <li>If you are dealt 21 from the start (Ace and 10), you got a blackjack.</li>
              <li>Blackjack usually means you win 2 the amount of your bet.</li>
              <li>Dealer will hit until his/her cards total 17 or higher.</li>
        </ul>  
        
    </div>
    

    
</body>
</html>